<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>StuManager</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginSelvlet</display-name>
    <servlet-name>LoginSelvlet</servlet-name>
    <servlet-class>com.Selvlet.LoginSelvlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSelvlet</servlet-name>
    <url-pattern>/LoginSelvlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegSelvlet</display-name>
    <servlet-name>RegSelvlet</servlet-name>
    <servlet-class>com.Selvlet.RegSelvlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegSelvlet</servlet-name>
    <url-pattern>/RegSelvlet</url-pattern>
  </servlet-mapping>
</web-app>